{% extends "base.html" %}

{% block title %}MarketVision 메인 화면{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">MarketVision</h1>
        <p class="text-center">{{ user.first_name }}님, 환영합니다!</p>

        <div class="row mt-5">
            <!-- Button 1 -->
            <div class="col-md-4 text-center">
                <h3>환율 데이터 분석</h3>
                <p>원/달러 환율과 Dollar Index 정보를 분석합니다.</p>
                <a href="#" class="btn btn-primary btn-lg">환율분석 확인하기</a>
            </div>
            <!-- Button 2 -->
            <div class="col-md-4 text-center">
                <h3>주가정보 데이터 분석</h3>
                <p>각 기업의 모멘텀 데이터를 분석합니다.</p>
                <a href="#" class="btn btn-primary btn-lg">주가분석 확인하기</a>
            </div>
            <!-- Button 3 -->
            <div class="col-md-4 text-center">
                <h3>Ai 생성형 글쓰기</h3>
                <p>블로그 업로드용 글을 자동으로 생성해줍니다.</p>
                <a href="#" class="btn btn-primary btn-lg">글쓰러 가기</a>
            </div>
        </div>
    </div>
    {% endblock %}