{% extends "base.html" %}

{% block title %}Exchange Rate 세부환율{% endblock %}

{% block content %}
<div class="container text-center" style="width: 700px;">
    <h2>환율 정보 상세보기</h2>
    <div>
        <table class="table" id="rate_changes_table">
            <tr>
                <th>Date</th>
                <th>Rate</th>
                <th>Rate Change</th>
            </tr>
            {% for change in rate_changes %}
            <tr>
                <td>{{ change.date }}</td>
                <td>{{ change.rate }}</td>
                <td data-rate-change="{{ change.rate_change }}">
                    {{ change.rate_change }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if rate_changes.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ rate_changes.previous_page_number }}">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in rate_changes.paginator.page_range %}
                {% if page_number >= rate_changes.number|add:-5 and page_number <= rate_changes.number|add:5 %}
                    {% if page_number == rate_changes.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if rate_changes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ rate_changes.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
</div>
<a href="{% url 'exchange_rate:main' %}" class="btn btn-primary btn-lg">대시보드로 돌아가기</a>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rateChangeCells = document.querySelectorAll('#rate_changes_table td[data-rate-change]');
        rateChangeCells.forEach(cell => {
            const rateChange = parseFloat(cell.getAttribute('data-rate-change'));
            if (rateChange > 0) {
                cell.style.color = 'blue';
                cell.style.fontWeight = 'bold';
            } else if (rateChange < 0) {
                cell.style.color = 'red';
                cell.style.fontWeight = 'bold';
            }
        });
    });
</script>
{% endblock %}